@model NewsViewModel
@{
    ViewData["Title"] = "Index";
}
<h1>@Model.Title</h1>
<h3>@Model.Intro</h3>
<p>@Model.Text</p>



@foreach(CommentViewModel comment in Model.comments)
{
    <p>
        @comment.Text
    </p>
}