@model SportCentral.Models.NewsViewModel

@{
    ViewData["Title"] = "CreateNews";
}

<h1>Maak een artikel aan</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNews">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intro" class="control-label"></label>
                <input asp-for="Intro" class="form-control" />
                <span asp-validation-for="Intro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                @*<input asp-for="Text" class="form-control" />*@
                <textarea asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <label for="CategoryName">Welke sport category?:</label>

            <select id="CategoryID" asp-for="CategoryID">
                <option value="1">Voetbal</option>
                <option value="2">F1</option>
                <option value="3">basketbal</option>
                <option value="4">UFC</option>
                <option value="5">darten</option>
                <option value="6">Tennis</option>
            </select>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
